@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .no-padding-left {
    padding-left: -20px !important;
  }

  .mid-header .content_header .header-left {
    float: left;
    width: 90%;
  }

  .search-bar {
    margin-left: 12px;
  }

  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
